/*positioning the location and map with a splash of styling*/
.location-container {
    padding: 100px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #B8D2E2;
}
.location {
    font-size: 1.5em;
    width: 25%;
    padding-left: 100px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.location h2{
    margin: 0;
}

hr {
    width: 310px;
    color: black;
}

.overhead {
    width: 45%;
}

/*postioning the contacts and forms*/
.contact-container {
    padding: 0;
    margin: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

}

.contacts {
    margin: 0;
    padding: 0 0 0 500px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.forms {
    width: 50%;
    padding: 0 0 0 160px;
}








/* main {
    margin: 0 0 100px 0;
} */