/* * {
    border: solid red 1px;
} */

div#temp-header {
}

div.products-header {
    background: #2274A5;
    border: 1px solid #979797;   
    color: white;
    font-family: Helvetica, sans-serif;
    height: 250px;
    padding-top: 60px;

}

#copy-text {
    text-align: center;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-top: -1em; 
    padding-top: 5px;
    /* margin: -20px 0 0 530px; */
    color: white;
}

/* h1 {
    color: white;
    position: relative;
    left: 30px;
    top: 15px;
    font-size: 2em;
    
} */

.container {
    display: flex;
}

div.products {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0 2em 0;
  }

  img.product-pics {
      border-radius: 50%;
  }
