/* * {
    border: solid red 1px;
} */

div#temp-header {
}

div#products-header {
    background: #6E6E6E;
    border: 1px solid #979797;   
    color: white;
    font-family: Helvetica, sans-serif;
    /* overflow: auto; */
    /* position: absolute;
    left: 0;
    right: 0; */
    /* top: 110px;
    height: 12em; */
    /* display: flex; */
    /* padding: 12em 0 12em 0; */
    height: 250px;
}

.copy-text {
    text-align: center;
    line-height: 1.5em;
    /* position: relative; */
    /* left: 22em;
    top: 15%; */
    font-size: 1.3em;
    display: inline-block;
    margin: auto;
    margin-top: 3.6em;
    margin-right: 4em;
}

.heading-text {
    float: left;
    margin-left: 1em;
    margin-right: 15em;
    font-size: 1.7em;
}

.container {
    display: flex;
}

/* div {
    border: 1px solid red;
} */

div.products {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }